html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*clearfix hack */
.clearFix:after {
  content: "";
  display: table;
  clear: both; }


/* ***** KASON TEMPLATE STYLES ***** */
.width-auto-hack,
.gig-comments-container {
  width: auto !important;
  margin: 0;
  padding: 0; }

.gig-share-bar-container td {
  display: inline-block;
  padding: .5em 0; }

.gig-share-bar-container td td {
  display: table-cell;
  padding: 0; }



/* ** BLACK BAR ** */
.logo {
  background: url("../img/logo-2x.png") no-repeat;
  width: 21.25em;
  height: 3.25em;
  display: inline-block;
  background-size: 100% auto;
  background-position: left center; }

@media (max-width: 899px) {
  .logo {
    background: url("../img/logo-2x.png") no-repeat;
    width: 14.875em;
    height: 3em;
    display: inline-block;
    background-size: 100% auto;
    background-position: left 15px; } }
.bg-black {
  background-color: #212121;
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  padding-left: 20px; }

.bg-black a {
  color: #ffffff; }

.bg-dark-gray {
  background-color: #1f1f1f;
  color: #ffffff;
  position: relative;
  z-index: 20; }

.bg-dark-gray a {
  color: #ffffff; }

.txt-light-gray {
  color: #999999; }

.simple-hide {
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  display: block;
  -webkit-transition: 0.5s ease-in-out all;
  transition: 0.5s ease-in-out all; }

.simple-hide.is-active {
  max-height: 5em;
  opacity: 1; }

.simple-hide.is-active.large-display {
  max-height: none; }

/* ** FOOTER ** */
.inline-list {
  padding: 0;
  margin: 1em 0 .5em 0; }

.inline-list li {
  list-style: none;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 10px; }

footer p {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 20px; }

footer a:visited {
  color: white; }

@media screen and (max-width: 735px) {
  .inline-list {
    display: inline-block;
    list-style-type: none; }

  .inline-list li {
    float: left;
    padding: 0px 20px 0 0; }

  footer p {
    display: block;
    width: 100%; } }
@media screen and (min-width: 736px) {
  .inline-list {
    display: table; }

  .inline-list li {
    display: table-cell;
    border-left: 0.1rem solid #ffffff; }

  .inline-list li a {
    padding: 0 1em; }

  .inline-list li:first-child {
    border-left: 0; }

  .inline-list li:first-child a {
    padding-left: 0; } }


/* ***** GLOBAL/ARTICLE STYLES STYLES ***** */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  z-index: 0; }

.bold {
  font-weight: bold; }

article {
  width: 100%;
  margin-top: 49px;
}

#wrapper {
  font-family: Georgia, Times, serif;
  font-size: 1em;
  line-height: 1.5em;  
  margin: 0px auto 0 auto;
  max-width: 960px;
  width: 100%; }

p {
  margin-bottom: 1.5em;
}


/*Main image block */
.mainImageBlock {
  width: 100%;
}
.mainImageBlock img {
  width: 100%;
}
.mainImageBlock .cutline {
  padding: 2px 10px 0px 10px;
}

/*Headline block*/
.headlineBlock,
.hammerBlock {
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 80%;
  max-width: 960px;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 20px 0px;
  border-bottom: 10px solid #1e1e1e;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.headlineBlock h1,
.hammerBlock h1 {
  max-width: 60%;
  margin: 0 auto;
  font-size: 18px;
}
.headlineBlock h2 {
  font-size: 50px;
  line-height: 54px;
  margin: 20px 0px;
}
.hammerBlock h2 {
  font-size: 80px;
  line-height: 84px;
  margin: 20px 0px;
}
.hammerBlock h3 {
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 20px;
}
.bylineBlock p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
  margin-bottom: 6px;
  text-align: center;
}
.bylineBlock .bylineBold {
  font-weight: bold;
  color: #1e1e1e;
  font-size: 12px;
}
.bylineBlock p.posted {
  margin-top: 10px;
  font-size: 10px;
  text-transform: none;
}
/*articleBody*/
.articleBody {
  max-width: 920px;
  width: 80%;
  margin: 0 auto;
}
.articleBody p {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 21px;
}
.firstcharacter {
  float: left;
  font-size: 110px;
  line-height: 50px;
  margin-right: 10px;
}
p.subhead {
  max-width: 580px;
  font-size: 24px;
  line-height: 30px;
  margin: 40px 0px 15px 0px;
}
/*pictures*/
p.cutline {
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*contentBlockRight*/
.contentBlockRight {
  float: right;
  width: 33%;
  min-width: 250px;
  margin: 20px 0px 20px 40px;
}
.contentBlockRight p {
  text-align: left;
}
.contentBlockRight h3 {
  font-family: "Heiti SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*rightImageBlock*/
.rightImageBlock img {
  width: 100%;
}
.articleBody .rightImageBlock p.cutline {
  padding: 0px 0px;
  margin: 0 0;
}
/*inlineImageBlock */
.inlineImageBlock {
  margin: 30px 0px;
}
.inlineImageBlock img {
  width: 100%;
}
/*fullImageBlock */
.fullImageBlock {
  margin: 20px 0px;
}
.fullImageBlock img {
  width: 100%;
}
.fullImageBlock .cutline {
  width: 80%;
  margin: 0 auto;
  max-width: 960px;
}
/*quoteRight*/
.quoteRight,
.quoteInline {
  font-family: Georgia Times "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 20px !important;
  line-height: 30px !important;
  margin-bottom: 5px !important;
}
.quoteByline {
  display: block;
  text-align: right;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1e1e1e;
  font-size: 13px;
}
/*quoteInline*/
.quoteInline {
  max-width: 700px;
  margin: 30px auto;
  margin-bottom: 45px;
}
/*relatedLinksRight*/
.relatedLinksRight h3 {
  font-family: "Heiti SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.relatedLinksRight li {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 8px;
  clear: both;
}
.relatedLinksRight li img {
  width: 40%;
  float: left;
  margin: 0px 10px 10px 0px;
}
.relatedLinksRight li a {
  text-decoration: none;
  font-weight: bold;
  color: #3366cc;
}
.relatedLinksRight li a:visited {
  color: #999999;
}
.relatedLinksRight li a:hover {
  text-decoration: underline;
}
/*relatedFooter*/
.relatedFooter {
  padding: 20px 40px 60px 40px;
  margin: 30px 0px 0px 0px;
  background-color: #1e1e1e;
  width: 100%;
}
.relatedFooter h3 {
  font-family: "Heiti SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: white;
}
.relatedFooter a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f5f5f5;
  text-decoration: none;
  font-size: 13px;
  line-height: 18px;
  font-weight: bold;
}
.relatedFooter a:hover {
  text-decoration: underline;
}
.relatedFooter a:visited {
  color: #e1e1e1;
}
.relatedFooter img {
  width: 100%;
}
.relatedFooter h4 {
  font-size: 16px;
  line-height: 20px;
}
/*twoBoxModule*/
.twoBoxModule {
  width: 48%;
  float: left;
  margin-right: 4%;
  margin-bottom: 10px;
}
/*threeBoxModule*/
.threeBoxModule {
  width: 30%;
  float: left;
  margin-right: 5%;
  margin-bottom: 10px;
}
/*fourBoxModule*/
.fourBoxModule {
  width: 22%;
  float: left;
  margin-right: 4%;
  margin-bottom: 10px;
}
/*relatedstoriesleftblock*/
.relatedContent {
  width: 90%;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
.relatedStories {
  width: 48%;
  float: left;
  margin-right: 4%;
  margin-bottom: 40px;
}
.threeBlock {
  width: 30%;
  margin-right: 5%;
}
.relatedStories:nth-child(even) {
  margin-right: 0%;
}
.threeBlock:nth-child(even) {
  margin-right: 5%;
}
.threeBlock:last-child {
  margin-right: 0;
}
.relatedStories img {
  width: 100%;
  margin-bottom: 5px;
}
.relatedStories h1 {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 10px;
}
.relatedStories a {
  text-decoration: none;
  color: black;
}
/*mapBlock*/
.mapBlock {
  float: right;
  margin: 20px 0px 20px 40px;
}
.mapBlock img {
  max-width: 150px;
}
/*graphicBlockRight*/
.graphicBlockRight img {
  width: 100%;
}
/*factBox*/
.factBox h3 {
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.factBox p {
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
}
.factBox img {
  width: 100%;
  margin-bottom: 5px;
}
/*miscellaneous code*/
.last {
  margin-right: 0px;
}
/*YouTube movie embeds */
.videoBlock {
  width: 100%;
  margin: 20px 0px;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe,
.videoWrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*NDN movie embeds */
.NDNvideoBlock {
  width: 100%;
  text-align: center;
  margin: 20px auto;
}
/*tagline*/
.tagline {
  font-style: italic;
  font-size: 14px !important;
  line-height: 18px;
}
.tagline a {
  text-decoration: none;
  color: #3366cc;
}
.tagline a:hover {
  text-decoration: underline;
}
.tagline a:visited {
  color: #999999;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /*headlineBlock*/.headlineBlock h2 {
    font-size: 36px;
    line-height: 38px;
  }
  .hammerBlock h2 {
    font-size: 64px;
    line-height: 68px;
  }
  .hammerBlock h3 {
    font-size: 22px;
    line-height: 26px;
  }
  /*articleBody*/
  .articleBody {
    max-width: none;
    width: 80%;
  }
  p.subhead {
    width: 60%;
    margin: 40px 0px 15px 0px;
    font-size: 22px;
    line-height: 26px;
  }
  /*contentBlockRight*/
  .contentBlockRight {
    width: 50%;
  }
  /*inlineImageBlock*/
  .inlineImageBlock {
    width: 100%;
  }
   /*quoteInline*/
  .quoteInline {
    width: 90%;
    margin: 20px auto;
    margin-bottom: 35px;
  }
  /*relatedFooter*/
  .relatedFooter {
    padding: 20px;
  }
  .relatedFooter h4 {
    font-size: 14px;
  }
  .relatedContent {
    width: 15%;
    margin-top: 0;
    float: left;
    padding-left: 5%;
  }
  .relatedStories {
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
  }
  .relatedStories:last-child {
    border-bottom: none;
  }
  .relatedStories img {
    display: none;
  }
  .relatedStories h1 {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 5px;
  }
  .relatedStories a {
    text-decoration: none;
    color: black;
  }
  p.storyLabel {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
  }
}
@media (min-width: 600px) and (max-width: 767px) {
  /*headlineBlock*/.headlineBlock h1,
  .hammerBlock h1 {
    font-size: 16px;
  }
  .headlineBlock h2 {
    font-size: 32px;
    line-height: 38px;
  }
  .hammerBlock h2 {
    font-size: 54px;
    line-height: 58px;
  }
  .hammerBlock h3 {
    font-size: 20px;
    line-height: 24px;
  }
  .bylineBlock p {
    font-size: 14px;
    line-height: 18px;
  }
  .bylineBlock .bylineBold {
    font-size: 11px;
  }
  /*articleBody*/
  .articleBody {
    width: 90%;
  }
  .articleBody p {
    padding: 0px 0px;
  }
  p.subhead {
    margin: 40px 0px 10px 0px;
    font-size: 22px;
    line-height: 26px;
  }
  .firstcharacter {
    font-size: 60px;
    line-height: 50px;
  }
  .contentBlockRight {
    float: none;
    width: 100%;
    padding: 0px 0px;
    margin: 30px 0px;
  }
  /*rightImageBlock*/
  .rightImageBlock {
    float: none;
    width: 100%;
    padding: 0px 0px;
    margin: 30px 0px;
  }
  .rightImageBlock img {
    width: 100%;
  }
  .articleBody .rightImageBlock p.cutline {
    width: 100%;
  }
  /*inlineImageBlock*/
  .inlineImageBlock {
    width: 100%;
    margin: 20px auto;
    max-width: 687px;
  }
  .inlineImageBlock img {
    padding: 0 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    max-width: none;
  }
  .articleBody .inlineImageBlock p.cutline {
    margin-bottom: 0px;
    padding: 0 0;
  }
  /*fullImageBlock*/
  .fullImageBlock .cutline {
    width: 90%;
    max-width: 920px;
  }
  /*relatedLinksRight*/
  .relatedLinksRight {
    width: 90%;
    float: none;
    max-width: none;
    margin: 30px auto;
  }
  .relatedLinksRight li img {
    display: none;
  }
  .relatedLinksRight li {
    margin-bottom: 3px;
  }
  /*factBox*/
  .factBox {
    padding: 15px 0px;
    background-color: #e1e1e1;
  }
  .factBox img {
    float: left;
    width: 40%;
    margin-right: 15px;
    padding-left: 15px;
  }
  .factBox p {
    padding: 0px 15px;
    margin-bottom: 5px;
  }
  .factBox h3 {
    padding-left: 15px;
  }
  /*quoteRight and quoteInline */
  .quoteRight,
  .quoteInline {
    font-size: 18px;
    line-height: 22px;
  }
  .quoteInline,
  .quoteRight {
    width: 90%;
  }
  .quoteRight {
    margin: 30px auto;
    margin-bottom: 45px;
  }
  /*leftMapBlock*/
  .mapBlock {
    margin: 20px 0px 20px 40px;
  }
  /*graphicBlockRight */
  .graphicBlockRight {
    float: none;
    width: 100%;
    max-width: none;
    margin: 20px auto;
  }
  .graphicBlockRight img {
    width: 100%;
    max-width: 350px;
    display: block;
    margin: 0 auto;
  }
  /*relatedFooter*/
  .relatedFooter {
    padding: 20px 15px;
  }
  .relatedFooter h4 {
    font-size: 14px;
    line-height: 18px;
  }
  .relatedFooter a.fourBoxModule h4 {
    font-size: 13px;
    line-height: 17px;
  }
}
@media (max-width: 599px) {

  /*mainImageBlock*/
  .mainImageBlock .cutline {
    font-size: 11px;
    line-height: 13px;
    padding-top: 0px;
  }
  /*headlineBlock*/.headlineBlock,
  .hammerBlock {
    border-bottom: 5px solid #1e1e1e;
  }
  .headlineBlock h1,
  .hammerBlock h1 {
    font-size: 16px;
    line-height: 18px;
  }
  .headlineBlock h2 {
    font-size: 28px;
    line-height: 32px;
  }
  .hammerBlock h2 {
    font-size: 40px;
    line-height: 44px;
  }
  .hammerBlock h3 {
    font-size: 20px;
    line-height: 24px;
  }
  .bylineBlock {
    width: 80%;
    margin: 0 auto;
  }
  .bylineBlock p {
    font-size: 12px;
    line-height: 16px;
  }
  /*articleBody*/
  .articleBody {
    width: 90%;
  }
  .articleBody p {
    padding: 0px 0px;
    font-size: 15px;
    line-height: 20px;
    max-width: none;
  }
  p.subhead {
    margin: 40px 0px 10px 0px;
    font-size: 18px;
    line-height: 22px;
  }
  .firstcharacter {
    font-size: 60px;
    line-height: 50px;
  }
  /*images*/
  .articleBody .rightImageBlock p.cutline {
    width: 100%;
  }
  .articleBody .rightImageBlock p.cutline,
  .articleBody .inlineImageBlock p.cutline,
  .fullImageBlock .cutline {
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 0px;
    padding: 0 0;
  }
  .inlineImageBlock {
    width: 90%;
    min-width: 200px;
    margin: 30px auto;
    max-width: 687px;
    float: none;
  }
  .inlineImageBlock img {
    padding: 0 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    max-width: 687px;
  }
  /*contentBlockRight*/
  .contentBlockRight {
    float: none;
    width: 100%;
    padding: 0px 0px;
    margin: 20px 0px;
  }
  /*rightImageBlock*/
  .rightImageBlock img {
    width: 100%;
  }
  /*fullImageBlock*/
  .fullImageBlock {
    margin: 20px 0px;
  }
  .fullImageBlock .cutline {
    width: 90%;  
  }
  /*relatedLinksRight*/
  .relatedLinksRight {
    margin: 30px auto;
  }
  .relatedLinksRight li img {
    display: none;
  }
  .relatedLinksRight li {
    margin-bottom: 5px;
  }
  /*factBox*/
  .factBox {
    padding: 15px 0px;
    background-color: #e1e1e1;
  }
  .factBox img {
    display: none;
  }
  .factBox p {
    padding: 0px 15px;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 16px;
  }
  .factBox h3 {
    padding-left: 15px;
  }
  /*blockquotes*/
  .quoteInline,
  .quoteRight {
    font-size: 18px;
    line-height: 22px;
  }
  .quoteRight {
    margin-bottom: 45px;
  }
  /*leftMapBlock*/
  .mapBlock {
    margin: 20px auto !important;
    float: none;
  }
  .mapBlock img {
    margin: 0 auto;
    display: block;
  }
  /*graphicBlockRight */
  .graphicBlockRight {
    float: none;
    width: 100%;
    max-width: none;
    margin: 20px auto;
  }
  .graphicBlockRight img {
    width: 100%;
    max-width: 350px;
    display: block;
    margin: 0 auto;
  }
  /*relatedFooter*/
  .relatedFooter {
    padding: 20px 15px;
  }
  .relatedFooter a {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
  .relatedFooter h4 {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
  }
}


/* ***** SHARE AND COMMENTS ***** */
.shareComments {
  margin: 0;
  padding: 0;
  width: 100%;
  clear: both; }

#share-bar {
  margin-bottom: 1.5em; }


/* ***** AD CODE ***** */

#dfpAdPositionTop {
  text-align: center;
  padding: 1em 0;
  margin-top: 3em;
  margin-bottom: 3em;
  border-top: 1px solid rgb(200,200,200);
  border-bottom: 1px solid rgb(200,200,200);
  position: relative;
  z-index: 0;  
}

#dfpAdPositionTop * {
  margin: 0 auto;
}