/* COLORS */

/*
WARM GREY: #CECDC6, rgb(206,205,198); borders
LINK BLUE: #5CA3E6, rgb(92,163,230);
DARK GREY: #797470, rgb(121,116,112);
WARM BLACK: #3D3D3D, rgb(61,61,61); display type
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*clearfix hack */
.clearFix:after {
  content: "";
  display: table;
  clear: both; }

/* ***** KASON TEMPLATE STYLES ***** */
.width-auto-hack,
.gig-comments-container {
  width: auto !important;
  margin: 0;
  padding: 0; }

.gig-share-bar-container td {
  display: inline-block;
  padding: .5em 0; }

.gig-share-bar-container td td {
  display: table-cell;
  padding: 0; }


/* ***** GLOBAL/ARTICLE STYLES STYLES ***** */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; 
}
html {
  font-size: 10px;
  color: rgb(33,33,33);
}
body {
  z-index: 0; }

article {
  font-family: 'Open Sans', Arial, sans-serif;
  width: 100%;
}
a {
  color: #5CA3E6;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #797470;
}
#wrapper {
  padding: 5rem 0;
  position: relative;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
h1, h2, h3, h4 {
  margin-bottom: 1.2rem;
}
h5, h6 {
  margin-bottom: .6rem;
}
h1 {
  font-size: 6rem;
  line-height: 7.2rem;
}
h2 {
  font-size: 4.8rem;
  line-height: 6rem;
}
h3{
  font-size: 3.6rem;
  line-height: 4.2rem;
}
h4{
  font-size: 2.4rem;
  line-height: 3rem;
}
h5{
  font-size: 2rem;
  line-height: 2.4rem;
}
h6 {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

/* --------- CONTENT HEADER -------- */

#contentHeader {
  position: relative;
}
#contentHeader img {
  width: 100%;
  margin-bottom: .3rem;
}
#contentHeader .cutline {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.8rem;
  max-width: none;
  padding: 0 2rem;
}

/* --------- BODY COPY -------- */

.bodyCopy {
  font-family: Merriweather, Georgia, Times, serif;
  margin: 0 auto;
  max-width: 1400px;
  width: 90%;
}
.bodyCopy:after {
  clear: both;
  content: "";
  display: table;
}
p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 0 auto 2.4rem;
  max-width: 650px;
}
p:last-child {
  margin-bottom: 0;
}

/* --------- STORY HEAD -------- */

#storyHead {
  font-family: Merriweather, Georgia, serif;;
  margin: 0 auto 2.4rem auto;
  text-align: center;
  color: #3d3d3d;
}
#storyHead h1 {
  font-size: 6.4rem;
  font-weight: normal;
  letter-spacing: -.2rem;
  line-height: 7.6rem;
  margin-bottom: 1.8rem;
}
#storyHead h2 {
  font-size: 3.2rem;
  font-weight: normal;
  line-height: 4.2rem;
}
#storyHead h3 {
  border-bottom: 1px solid #CECDC6;
  display: inline-block;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 2.4rem;
  font-weight: normal;
  line-height: 3rem;
  margin-bottom: 1.8rem;
  padding-bottom: .6rem;
  text-transform: uppercase;
}
.bylineBlock {
  text-align: center;
}
.bylineBlock p {
  color: #3d3d3d;
  display: inline-block;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.4rem;
  font-style: italic;
  margin-bottom: .6rem;
  margin-right: 2.4rem;
  text-align: center;
}
.bylineBlock p:last-of-type {
  margin-right: 0;
}

/* --------- BODY DISPLAY TYPE -------- */

.intro {
  font-size: 2.4rem;
  line-height: 4rem;
}
.dropcap {
  color: #3d3d3d;
  float:left;
  font-size: 12rem;
  line-height: 10rem;
  margin: .5rem .5rem 0rem 0;
  padding-top: 1.5rem;
}
.subhead {
  color: #3d3d3d;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 2.4rem; 
  font-weight: bold;
  line-height: 3.2rem;
  margin: 4.8rem 0 2.4rem 0;
}

@media (max-width: 860px) {
  #storyHead h1 {
    font-size: 4rem;
    line-height: 5rem;
    margin-bottom: 1.8rem;
  }
  #storyHead h2 {
    font-size: 2.4rem;
    line-height: 3rem;
    margin-bottom: 3rem;
  }
  #storyHead h3 {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  .intro {
    font-size: 2.2rem;
    line-height: 3.6rem;
  }
  .dropcap {
    font-size: 11rem;
    line-height: 8.6rem;
  }
}

@media (max-width: 600px) {
  .bylineBlock p {
    display: block;
    margin: 0 0 .3rem 0;
  }
}

@media (max-width: 500px) {
  #storyHead h1 {
    font-size: 3.2rem;
    line-height: 3.6rem;
    letter-spacing: 0;
  }
  .intro {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .dropcap {
    font-size: 10rem;
    line-height: 7.6rem;
  }
}


/* --------- IMAGE BLOCKS -------- */

.imageBlock img {
  margin-bottom: .3rem;
  width: 100%;
}

.cutline {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.8rem;
  max-width: none;
  padding: 0;
}


/* Wide Image */

.wideImageBlock {
  margin: 4.8rem auto;
  width: 100%;
}

@media (max-width: 778px) {
  .wideImageBlock {
    margin: 2.4rem auto;
    max-width: 650px;
  }
}

/* Full Image */

.fullImageBlock {
  margin: 4.8rem auto;
  width: 100%;
}

.fullImageBlock p.cutline {
  padding: 0 2rem;
}

/* Inline Image */

.inlineImageBlock {
  margin: 0 auto 2.4rem;
  max-width: 650px;
}

@media (max-width: 778px) {
  .inlineImageBlock {
    float: none;
    margin: 2.4rem auto;
    max-width: 650px;
  }
}

/* --------- SLIDESHOW BLOCK -------- */

.slideshowBlock {
  background-color: rgb(33,33,33);
  margin: 4.8rem auto;
  padding: 3.8rem 0;
}

.slideshowBlock .subhead {
  color: white;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 2.4rem; 
  font-weight: bold;
  line-height: 3.2rem;
  margin-bottom: 1rem;
}

.slideshowBlock img {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.slideshowGroup {
  margin: 0 auto 0;
  max-width: 1200px;
}

.slideshowBlock p.cutline {
  color: white;
  margin-top: .5rem;
  width: 80%;
  float: left;
}

.controls {
  max-width: 1200px;
  margin: 0 auto;
}

.controls p, .controls p span {
  color: white;
}

.slideshowBlock .next, .slideshowBlock .previous {
  cursor: pointer;
  width: 30px;
  height: 30px;
  float: right;
  margin: 1rem 1.5rem 0 0;
  opacity: .3;
}

.slideshowBlock .next:hover, .slideshowBlock .previous:hover {
  opacity: .6;
}

.slideshowBlock .next:active, .slideshowBlock .previous:active {
  opacity: .9;
}

.slideshowTracker {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: bold;
  float: right;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-top: 1.5rem;
}

@media (max-width: 1200px) {
  .slideshowBlock {
    padding: 5rem 5rem;
  }
}

@media (max-width: 800px) {
  .slideshowBlock p.cutline {
    width: 75%;
  }
}


@media (max-width: 700px) {
  .slideshowBlock {
    padding: 2rem;
  }

  .slideshowBlock p.cutline {
    float: none;
    width: 100%;
    margin-bottom: 3rem;
  }

  .slideshowBlock p.subhead {
    font-size: 2rem;
    line-height: 3rem;
  }
}


/* --------- RIGHT BLOCK & LEFT BLOCK -------- */

.rightBlock, .leftBlock {
  font-family: 'Open Sans', Arial, sans-serif;
  max-width: 275px;
  width: 100%;  
}

.rightBlock {
  float: right;
  margin: 0rem 0 4.8rem 4.8rem;
}

.leftBlock {
  float: left;
  margin: 0rem 4.8rem 4.8rem 0;
}

.rightBlock img, .leftBlock img {
  margin: 0rem 0 .3rem 0;
  width: 100%;
}

.rightBlock p.source, .leftBlock p.source {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

@media (max-width: 1420px) {
  .rightBlock, .leftBlock {
    max-width: 400px;
  }
}

/* --------- GRAPHICS -------- */

@media (max-width: 800px) {
  .graphicBlock {
    float: none;
    margin: 4.8rem auto;
  }
}

/* --------- RIGHT IMAGE BLOCK -------- */

@media (max-width: 778px) {
  
  .rightImageBlock, .leftImageBlock {
    float: none;
    margin: 0 auto 4.8rem;
    width: 100%;
    max-width: 650px;
  }
}


/* --------- PULL QUOTES -------- */

.pullquote {
  border-top: 1px solid rgb(200,200,200);
  border-bottom: 1px solid rgb(200,200,200);
  font-size: 2.4rem;
  line-height: 4.8rem;
  padding: 1.8rem 0;
  margin: 4.8rem auto;
  max-width: 650px;  
  text-align: left;
}

.pullquote blockquote {
  margin-bottom: 2.4rem;
}

.pullquote p.attribution {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: bold;
  max-width: none;
  text-align: right;
}

.pullquote p.attribution:before {
  content: '— ';
}

@media (max-width: 600px) {
  .pullquote {
    font-size: 2rem;
    line-height: 3rem;
  }
}


/* full width */

.fullQuote {
  max-width: none;
}

/* right block */

.rightQuote, .leftQuote {
  font-family: 'Merriweather', Georgia, serif;
  max-width: 275px;
  width: 100%;  
}

.rightQuote {
    margin: 0 0 4.8rem 4.8rem;
}

.leftQuote {
    margin: 0 4.8rem 4.8rem 0;
}

@media (max-width: 1420px) {
  .rightQuote, .leftQuote {
    max-width: 400px;
  }
}

@media (max-width: 778px) {
  
  .rightQuote, .leftQuote {
    float: none;
    margin: 4.8rem auto 4.8rem;
    max-width: 650px;
  }
}


/* ---------- NDN EMBEDS ---------- */

.ndn_embed {
  margin: 4.8rem auto;
  max-width: 650px;
  min-height: 170px;
  position: relative;
  width: 100%;
  z-index: 0;
}

.ndn_embed p {
  font-family: Arial, sans-serif !important;
}


/* ---------- YOUTUBE EMBEDS ---------- */

.videoBlock {
  width:100%;
  max-width: 650px;
  margin: 4.8rem auto;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe,
.videoWrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* --------- RELATED LINKS ------- */

.relatedLinks a {
  color: #0074d9;
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;  
  margin-bottom: 1.8rem;
}

.relatedLinks a:last-child {
  margin-bottom: 0;
}

.relatedLinks a:visited {
  color: #aaaaaa;
}

@media (max-width: 800px) {
  .relatedLinks {
    border-bottom: 1px solid rgb(33,33,33);
    border-top: 1px solid rgb(33,33,33);
    float: none;
    margin: 2.4rem auto;
    padding: 2.4rem 0;    
    max-width: none;
    width: 100%;
  }
}

/* --------- FACTBOX ------- */

.factBox p {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 2.0rem;
  margin-bottom: 2rem;
}

@media (max-width: 800px) {
  .factBox {
    border-bottom: 1px solid rgb(33,33,33);
    border-top: 1px solid rgb(33,33,33);
    float: none;
    margin: 2.4rem auto;
    padding: 2.4rem 0;    
    max-width: 650px;
    width: 100%;
  }
}


/* --------- BREAKOUT MODULE ------- */

.breakoutModule {
  margin: 4.8rem auto;
  width: 100%;
}

.breakoutModule:after {
  content: "";
  display: table;
  clear: both;
}

.breakoutModule h1 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 3.2rem;
  margin-bottom: 1rem;
}

.breakoutModule img {
  margin-bottom: 1rem;
  width: 100%;
}

.breakoutModule p {
  font-family: 'Open Sans', Arial, sans-serif;
}

.twoAcross .breakoutBox {
  float: left;
  margin-right: 4%;
  width: 48%;
}

.threeAcross .breakoutBox {
  float: left;
  margin-right: 5%;
  width: 30%;
}

.fourAcross .breakoutBox {
  float: left;
  margin-right: 4%;
  width: 22%;
}

.twoAcross .breakoutBox:last-child, .threeAcross .breakoutBox:last-child, .fourAcross .breakoutBox:last-child {
  margin-right: 0;
}

@media (max-width: 500px) {

  .breakoutModule {
    border-bottom: 1px solid rgb(33,33,33);
    border-top: 1px solid rgb(33,33,33);
    margin: 2.4rem auto;
    padding: 2.4rem 0;
  }

  .breakoutModule img {
    float: left;
    margin-right: 1rem;
    width: 150px;
  }

  .twoAcross .breakoutBox, .threeAcross .breakoutBox, .fourAcross .breakoutBox {
    margin-bottom: 2.4rem;
    float: none;
    width: 100%;
  }

  .twoAcross .breakoutBox:last-child, .threeAcross .breakoutBox:last-child, .fourAcross .breakoutBox:last-child {
    margin-bottom: 0;
  }

}


/* --------- CREDITS -------- */

.credits {
  border-bottom: 1px solid rgb(33,33,33);
  margin: 7rem auto 0;
  max-width: 650px;
  padding-bottom: 2.4rem;
}
.credits p {
  display: block;
  float: left;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin: 0 2rem 0rem 0;
}
.credits a {
  color: rgb(33,33,33);
  font-weight: bold;
}

/* --------- MORE -------- */

.more {
  border-bottom: 1px solid rgb(33,33,33);
  margin: 4.8rem auto 7rem;
  max-width: 650px;
  padding-bottom: 2.4rem;
}

.more h1 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.6rem;
  margin-bottom: 2rem;
}
.more a {
  color: rgb(33,33,33);
  display: block;
  font-family: 'Open Sans', Arial, sans-serif;
  float: left;
  margin-right: 5%;
  width: 30%;
}
.more a:after {
  content: "";
  display: table;
  clear: both;
}
.more a:hover {
  text-decoration: none;
}
.more a:last-child {
  margin-right: 0;
}
.more a img {
  margin-bottom: .5rem;
  width: 100%;
}
.more a h5 {
  color: rgb(33,33,33);
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: bold;
  margin-bottom: .5rem;
}
.more a p {
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: normal;
}

@media (max-width: 600px) {

  .more a {
    float: none;
    margin: 0 0 2.4rem; 
    width: 100%;
  }
  .more a img {
    float: left;
    width: 33%;  
  }
  .more a h5, .more a p {
    float: right;
    width: 65%;
  }
  .more a h5 {
    margin-top: -5px;
  }
}

/* --------- SHARE AND COMMENTS -------- */

.shareComments {
  margin: 4.8rem auto 0;
  max-width: 65rem;
}
.shareCommentsTop {
  max-width: 51rem;
  width: 100%;
}
#share-bar1, #share-bar2 {
  margin-bottom: 4rem;
}
.gig-counter {
  margin-top: 6px !important;
}
.gig-bar-container img {
  margin-right: .5rem;
  width: 9rem;
}

@media (max-width: 860px) {
  .shareComments {
    margin: 2.4rem auto 0;
  }
  .shareCommentsTop {
    max-width: 46rem;
  }
  .gig-bar-container img {
    width: 80px;
  }
}

/* ---------- AD STYLING ---------- */

#dfpAdPositionTop {
  border-bottom: 1px solid rgb(200,200,200);
  border-top: 1px solid rgb(200,200,200);
  margin: 4.8rem 0;
  padding: 2rem 0;
  position: relative;
  text-align: center;
  z-index: 0;  
}

.noRule {
  border-bottom: none !important;
  border-top: none !important;
}

#dfpAdPositionTop * {
  margin: 0 auto !important;
}

#dfpAdPositionTop p {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: .5rem !important;
}

@media print {
  .bg-black {
    position: relative;
  }
}
