<!DOCTYPE html>
<html lang="en" class="no-js">
<head prefix='og: http://ogp.me/ns#'>

	<meta content="dallas, dallas fort worth, dallas news, dallas fort worth news, dfw news, dallas local news, dallas fort worth local news, dallas breaking news, dallas fort worth breaking news, dallas weather, dallas fort worth weather, dallas traffic, dallas fort worth traffic, dallas sports, dallas fort worth sports, dallas entertainment, dallas fort worth entertainment, dallas newspaper, dallas morning news, dallas morning news newspaper" name="keywords" />

	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

	<!-- Add Custom Meta Data -->

	<meta content="Description of the interactive." name="description" />
	<title>This is the title of the interactive. | Dallas Morning News</title>
	<meta property="og:url" content="http://www.dallasnews.com/url/of/the/interactive"/>
	<meta property="og:title" content="Foodies get &#039;Down &amp; Dirty&#039; with local fare at culinary fest"/>
	<meta property="og:description" content="More than 40 chefs, farmers and wine producers were on hand for the second annual Down &amp; Dirty on the Boulevard Culinary Festival on Sunday at Lee Park."/>
	<meta property="og:image" content="http://www.dallasnews.com/img/of/the/interactive.jpg"/>
	<meta property="og:image:height" content="670"/>
	<meta property="og:image:width" content="447"/>	

	<meta name='parsely-page' content='{"title": "Title of the Interactive", "link": "http://www.dallasnews.com/url/of/the/interactive", "image_url": "http://www.dallasnews.com/img/of/the/interactive.jpg", "type": "post", "post_id": "111913", "pub_date": "2013-11-19", "section": "Entertainment Photos", "tags": ["dallas", "dallas fort worth", "dallas news", "dallas fort worth news", "dfw news", "dallas local news", "dallas fort worth local news", "dallas breaking news", "dallas fort worth breaking news", "dallas weather", "dallas fort worth weather", "dallas traffic", "dallas fort worth traffic", "dallas sports", "dallas fort worth sports", "dallas entertainment", "dallas fort worth entertainment", "dallas newspaper", "dallas morning news", "dallas morning news newspaper"]}'/>

	<!-- End Custom Meta Data -->
	<meta property="og:keywords" content="dallas, dallas fort worth, dallas news, dallas fort worth news, dfw news, dallas local news, dallas fort worth local news, dallas breaking news, dallas fort worth breaking news, dallas weather, dallas fort worth weather, dallas traffic, dallas fort worth traffic, dallas sports, dallas fort worth sports, dallas entertainment, dallas fort worth entertainment, dallas newspaper, dallas morning news, dallas morning news newspaper"/>

	<meta name='news_keywords' content='dallas, dallas fort worth, dallas news, dallas fort worth news, dfw news, dallas local news, dallas fort worth local news, dallas breaking news, dallas fort worth breaking news, dallas weather, dallas fort worth weather, dallas traffic, dallas fort worth traffic, dallas sports, dallas fort worth sports, dallas entertainment, dallas fort worth entertainment, dallas newspaper, dallas morning news, dallas morning news newspaper'/>


	<meta property="fb:app_id" content="258290334265148"/>
	<meta property="fb:page_id" content="20946638799"/>
	<meta property="fb:admins" content="1043783589"/>


	<link rel="shortcut icon" type="image/x-icon" href="http://www.dallasnews.com/favicon-premium.ico"/>
	<link rel="stylesheet" type="text/css" href="/interactives/template/common/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/interactives/template/css/theme.css" />
	<link rel="stylesheet" type="text/css" href="/interactives/template/css/code.css" />
	<link rel="stylesheet" type="text/css" href="/resrsc/premium/www/css/print.css" media="print"/>
	<!--[if lt IE 9]><script type="text/javascript" src="/interactives/template/common/respond.min.js"></script><![endif]-->
	<script type="text/javascript" src="/resrsc/www/js/cgm.js"></script>
	<script type="text/javascript" src="/interactives/template/common/js/modernizr.custom.min.js"></script>


</head>
<body>
<header class="bg-black">
	<div class="container">
		<a class="logo" href="/"><h1 class="sr-only">The Dallas Morning News</h1><img class="visible-print" src="http://www.dallasnews.com/resrsc/premium/www/img/logo-black.png" alt="The Dallas Morning News"/></a>

	</div>
</header>
<div class="container">



	<div class="bs-docs-section">
    <div class="page-header">
      <h1 id="initial">Initial Setup</h1>
    </div>



    <h3 id="initial-files">Files</h3>
    <p>This template consists of 3 editable files in the <strong>/interactives/template/starter-kit/</strong> directory and several common (non-editable) files.</p>
    <h4>Editable Files</h4>
    <ul> 
    	<li><strong>starter-kit/index.html</strong> -- HTML and Tracking Variables</li>
    	<li><strong>starter-kit/actions-v0.js</strong> -- Custom Javascript</li>
    	<li><strong>starter-kit/theme.css</strong> -- Custom CSS and Header CSS</li>
    </ul>

    <h4>Local development</h4>
    <p>Create a root level directory called <strong>interactives</strong>.</p>
    <p>Copy the <strong><a href="/interactives/template/template.zip">template directory</a></strong> to the <strong>interactives</strong> directory.</p>
    <p>Inside the <strong>template</strong> directory, create the containing folder (Ex. 2013_October).</p>
    <p>Rename the <strong>starter-kit</strong> folder to the name of your new interactive and move it into containing folder (2013_October) .</p> 
    <p>In the <strong>index.html</strong>, rewrite the css path (in the head) and the javascript path (at the end of the file) to match the new folder name.</p>

    <h5>Ex.</h5>

	<!-- <link rel="stylesheet" type="text/css" href="/interactives/template/starter-kit/css/theme.css" /> -->


    <div class="highlight"><pre><code class="html"><span class="nt">&lt;link</span> <span class="na">type=</span><span class="s">"text/css"</span> <span class="na">href=</span><span class="s">"/interactives/<strong>template/starter-kit</strong>/css/theme.css"</span><span class="nt">/&gt;</span>

Becomes

<span class="nt">&lt;link</span> <span class="na">type=</span><span class="s">"text/css"</span> <span class="na">href=</span><span class="s">"/interactives/<strong>year-month/new-name</strong>/css/theme.css"</span><span class="nt">/&gt;</span>

And

<span class="nt">&lt;script&gt;</span> <span class="na">type=</span><span class="s">"text/javascript"</span> <span class="na">src=</span><span class="s">"/interactives/<strong>template/starter-kit</strong>/js/actions-v0.js"</span><span class="nt">&lt;/script&gt;</span>

Becomes

<span class="nt">&lt;script&gt;</span> <span class="na">type=</span><span class="s">"text/javascript"</span> <span class="na">src=</span><span class="s">"/interactives/<strong>year-month/new-name</strong>/js/actions-v0.js"</span><span class="nt">&lt;/script&gt;</span>
</code></pre></div>

		<p>When you're ready, upload the newly created folder to <strong>res.dallasnews.com/interactives</strong>.</p>

    <h3 id="initial-social">Social/Meta Data</h3>
    <p>Modify the following lines in the head tag in your <strong>index.html</strong> file.</p>
		<div class="highlight"><pre><code class="html"><span class="c">&lt;!-- Add Custom Meta Data --&gt;</span>

<span class="nt">&lt;title&gt;</span>This is the title of the interactive. | Dallas Morning News<span class="nt">&lt;/title&gt;</span>
<span class="nt">&lt;meta</span> <span class="na">content=</span><span class="s">"Description of the interactive."</span> <span class="na">name=</span><span class="s">"description"</span><span class="nt">/&gt;</span>
<span class="nt">&lt;meta</span> <span class="na">property=</span><span class="s">"og:url"</span> <span class="na">content=</span>"http://www.dallasnews.com/url/of/your/story"</span><span class="nt">/&gt;</span>
<span class="nt">&lt;meta</span> <span class="na">property=</span><span class="s">"og:title"</span> <span class="na">content=</span>"This is the title of your story"</span><span class="nt">/&gt;</span>
<span class="nt">&lt;meta</span> <span class="na">property=</span><span class="s">"og:description"</span> <span class="na">content=</span>"This a description of your story."</span><span class="nt">/&gt;</span>
<span class="nt">&lt;meta</span> <span class="na">property=</span><span class="s">"og:image"</span> <span class="na">content=</span>"http://www.dallasnews.com/url/to/your/image"</span><span class="nt">/&gt;</span>
<span class="nt">&lt;meta</span> <span class="na">property=</span><span class="s">"og:image:height"</span> <span class="na">content=</span>"670"</span><span class="nt">/&gt;</span><span class="c">&lt;!-- This is the height of your story image in pixels --&gt;</span>
<span class="nt">&lt;meta</span> <span class="na">property=</span><span class="s">"og:image:width"</span> <span class="na">content=</span>"447"</span><span class="nt">/&gt;</span><span class="c">&lt;!-- This is the width of your story image in pixels --&gt;</span>

<span class="nt">&lt;meta</span> <span class="na">name=</span><span class="s">'parsely-page'</span> <span class="na">content=</span><span class="s">'{"title": "Title of the Interactive", "link": "http://www.dallasnews.com/url/of/the/interactive", "image_url": "http://www.dallasnews.com/img/of/the/interactive.jpg", "type": "post", "post_id": "111913", "pub_date": "2013-11-19", "section": "Entertainment Photos", "tags": ["dallas", "dallas fort worth", "dallas news", "dallas fort worth news", "dfw news", "dallas local news", "dallas fort worth local news", "dallas breaking news", "dallas fort worth breaking news", "dallas weather", "dallas fort worth weather", "dallas traffic", "dallas fort worth traffic", "dallas sports", "dallas fort worth sports", "dallas entertainment", "dallas fort worth entertainment", "dallas newspaper", "dallas morning news", "dallas morning news newspaper"]}'</span><span class="nt">/&gt;</span>
<span class="c">&lt;!-- post_id needs to be a unique number --&gt;</span>

<span class="c">&lt;!-- End Custom Meta Data --&gt;</span>
		</code></pre></div>





    <h3 id="initial-tracking">Tracking</h3>
    <p>Modify the these 7 lines at the bottom of <strong>index.html</strong> to track and share your project in Gigya, Chartbeat, Parsely, OutBrain and Omniture.</p>

    <div class="highlight"><pre><code class="html"><span class="nt">var</span> <span class="nv">storyTitle =</span> <span class="s">"This is a sample title."</span>,
    <span class="nv">storyURL =</span> <span class="s">"http://res.dallasnews.com/link/to/your/story"</span>,
    <span class="nv">leadText =</span> <span class="s">"This text paragraph of the story."</span>,
    <span class="nv">storyIMG =</span> <span class="s">"http://www.dallasnews.com/link/to/your/image"</span>,
    <span class="nv">storyAuthor =</span> <span class="s">"Author"</span>,
    <span class="nv">comments =</span> <span class="s">true</span>, <span class="c">//Set this to false if you will not be using comments.</span>
    <span class="nv">share =</span> <span class="s">true</span>; <span class="c">//Set this to false if you will not be using share.</span>

		</code></pre></div>


  </div>
	<div class="bs-docs-section">
    <div class="page-header">
      <h1 id="gigya">Gigya</h1>
    </div>
    <p>Complete initial setup to enable Gigya features.</p>

    <h3 id="gigya-comments">Comments</h3>
    
		<!-- <button class="simple-reveal-action" id="show-comments" data-display="comments-container">Comments</button>
		<div class="simple-hide large-display" id="comments-container">
			<div id="comments"></div>
		</div> -->
		<div id="comments"></div>
		<h4>Code:</h4>
		<p>Paste the following code to the location where you want your comments.</p>
		<p class="highlight"><pre><code class="html"><span class="nt">&lt;div</span> <span class="na">id=</span><span class="s">"comments"</span><span class="nt">&gt;</span><span class="nt">&lt;/div&gt;</span>
		</code></pre></p>

    <h3 id="gigya-share">Share</h3>

		<!-- <button class="simple-reveal-action" data-display="share-container">Share</button>
		<div class="simple-hide" id="share-container">
			<ul id="share-bar" class="width-auto-hack"></ul>
		</div> -->

		<p>Include the <code>.width-auto-hack</code> to override the default behavior set by Gigya.</p>
		
		<ul id="share-bar" class="width-auto-hack"></ul>
		<h4>Code:</h4>
		<p>Paste the following code to the location where you want your share bar.</p>
		<p class="highlight"><pre><code class="html"><span class="nt">&lt;ul</span> <span class="na">id=</span><span class="s">"share-bar"</span> <span class="na">class=</span><span class="s">"width-auto-hack"</span><span class="nt">&gt;</span><span class="nt">&lt;/ul&gt;</span>
		</code></pre></p>
  
  </div>


	<div class="bs-docs-section">
    <div class="page-header">
      <h1 id="overview">Bootstrap</h1>
    </div>

    <h3 id="overview-responsive-images">Responsive images</h3>
    <p>Images in Bootstrap 3 can be made responsive-friendly via the addition of the <code>.img-responsive</code> class. This applies <code>max-width: 100%;</code> and <code>height: auto;</code> to the image so that it scales nicely to the parent element.</p>
		<div class="highlight"><pre><code class="html"><span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"..."</span> <span class="na">class=</span><span class="s">"img-responsive"</span> <span class="na">alt=</span><span class="s">"Responsive image"</span><span class="nt">&gt;</span>
		</code></pre></div>


		    <h3 id="overview-normalize">Normalize</h3>
		    <p>For improved cross-browser rendering, we use <a href="http://necolas.github.io/normalize.css/" target="_blank">Normalize</a>, a project by <a href="http://twitter.com/necolas" target="_blank">Nicolas Gallagher</a> and <a href="http://twitter.com/jon_neal" target="_blank">Jonathan Neal</a>.</p>

		    <h3 id="overview-container">Containers</h3>
		    <p>Easily center a page's contents by wrapping its contents in a <code>.container</code>. Containers set <code>max-width</code> at various media query breakpoints to match our grid system.</p>
		<div class="highlight"><pre><code class="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
		  ...
		<span class="nt">&lt;/div&gt;</span>
		</code></pre></div>
  </div>


  <div class="bs-docs-section">
    <div class="page-header">
      <h1 id="grid">Grid system</h1>
    </div>
    <p class="lead">Bootstrap includes a responsive, mobile-first fluid grid system that appropriately scales up to 12 columns as the device or viewport size increases.</p>

    <h3 id="grid-intro">Introduction</h3>
    <p>Grid systems are used for creating page layouts through a series of rows and columns that house your content. Here's how the Bootstrap grid system works:</p>
    <ul>
      <li>Rows must be placed within a <code>.container</code> for proper alignment and padding.</li>
      <li>Use rows to create horizontal groups of columns.</li>
      <li>Content should be placed within columns, and only columns may be immediate children of rows.</li>
      <li>Predefined grid classes like <code>.row</code> and <code>.col-xs-4</code> are available for quickly making grid layouts.</li>
      <li>Columns create gutters (gaps between column content) via <code>padding</code>. That padding is offset in rows for the first and last column via negative margin on <code>.row</code>s.</li>
      <li>Grid columns are created by specifying the number of twelve available columns you wish to span. For example, three equal columns would use three <code>.col-xs-4</code>.</li>
    </ul>
    <p>Look to the examples for applying these principles to your code.</p>

    <div class="bs-callout bs-callout-info">
      <h4>Grids and full-width layouts</h4>
      <p>Folks looking to create fully fluid layouts (meaning your site stretches the entire width of the viewport) must wrap their grid content in a containing element with <code>padding: 0 15px;</code> to offset the <code>margin: 0 -15px;</code> used on <code>.row</code>s.</p>
    </div>



    <h3 id="grid-options">Grid options</h3>
    <p>See how aspects of the Bootstrap grid system work across multiple devices with a handy table.</p>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th></th>
            <th>
              Extra small devices
              <small>Phones (&lt;768px)</small>
            </th>
            <th>
              Small devices
              <small>Tablets (≥768px)</small>
            </th>
            <th>
              Medium devices
              <small>Desktops (≥992px)</small>
            </th>
            <th>
              Large devices
              <small>Desktops (≥1200px)</small>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Grid behavior</th>
            <td>Horizontal at all times</td>
            <td colspan="3">Collapsed to start, horizontal above breakpoints</td>
          </tr>
          <tr>
            <th>Max container width</th>
            <td>None (auto)</td>
            <td>750px</td>
            <td>970px</td>
            <td>1170px</td>
          </tr>
          <tr>
            <th>Class prefix</th>
            <td><code>.col-xs-</code></td>
            <td><code>.col-sm-</code></td>
            <td><code>.col-md-</code></td>
            <td><code>.col-lg-</code></td>
          </tr>
          <tr>
            <th># of columns</th>
            <td colspan="4">12</td>
          </tr>
          <tr>
            <th>Max column width</th>
            <td class="text-muted">Auto</td>
            <td>60px</td>
            <td>78px</td>
            <td>95px</td>
          </tr>
          <tr>
            <th>Gutter width</th>
            <td colspan="4">30px (15px on each side of a column)</td>
          </tr>
          <tr>
            <th>Nestable</th>
            <td colspan="4">Yes</td>
          </tr>
          <tr>
            <th>Offsets</th>
            <td colspan="1" class="text-muted">N/A</td>
            <td colspan="3">Yes</td>
          </tr>
          <tr>
            <th>Column ordering</th>
            <td class="text-muted">N/A</td>
            <td colspan="3">Yes</td>
          </tr>
        </tbody>
      </table>
    </div>
    <p>Grid classes apply to devices with screen widths greater than or equal to the breakpoint sizes and override grid classes targeted at smaller devices. Therefore, applying any <code>.col-md-</code> class to an element will not only affect its styling on medium devices but also on large devices if a <code>.col-lg-</code> class is not present.</p>

    <h3 id="grid-example-basic">Example: Stacked-to-horizontal</h3>
    <p>Using a single set of <code>.col-md-*</code> grid classes, you can create a basic grid system that starts out stacked on mobile devices and tablet devices (the extra small to small range) before becoming horizontal on desktop (medium) devices. Place grid columns in any <code>.row</code>.</p>
    <div class="bs-docs-grid">
      <div class="row show-grid">
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
      </div>
      <div class="row show-grid">
        <div class="col-md-8">.col-md-8</div>
        <div class="col-md-4">.col-md-4</div>
      </div>
      <div class="row show-grid">
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4">.col-md-4</div>
      </div>
      <div class="row show-grid">
        <div class="col-md-6">.col-md-6</div>
        <div class="col-md-6">.col-md-6</div>
      </div>
    </div>
<div class="highlight"><pre><code class="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-1"</span><span class="nt">&gt;</span>.col-md-1<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-1"</span><span class="nt">&gt;</span>.col-md-1<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-1"</span><span class="nt">&gt;</span>.col-md-1<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-1"</span><span class="nt">&gt;</span>.col-md-1<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-1"</span><span class="nt">&gt;</span>.col-md-1<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-1"</span><span class="nt">&gt;</span>.col-md-1<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-1"</span><span class="nt">&gt;</span>.col-md-1<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-1"</span><span class="nt">&gt;</span>.col-md-1<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-1"</span><span class="nt">&gt;</span>.col-md-1<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-1"</span><span class="nt">&gt;</span>.col-md-1<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-1"</span><span class="nt">&gt;</span>.col-md-1<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-1"</span><span class="nt">&gt;</span>.col-md-1<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-8"</span><span class="nt">&gt;</span>.col-md-8<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-4"</span><span class="nt">&gt;</span>.col-md-4<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-4"</span><span class="nt">&gt;</span>.col-md-4<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-4"</span><span class="nt">&gt;</span>.col-md-4<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-4"</span><span class="nt">&gt;</span>.col-md-4<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-6"</span><span class="nt">&gt;</span>.col-md-6<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-6"</span><span class="nt">&gt;</span>.col-md-6<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre></div>

    <h3 id="grid-example-mixed">Example: Mobile and desktop</h3>
    <p>Don't want your columns to simply stack in smaller devices? Use the extra small- and medium-device grid classes by adding <code>.col-xs-*</code> <code>.col-md-*</code> to your columns. See the example below for a better idea of how it all works.</p>
    <div class="bs-docs-grid">
      <div class="row show-grid">
        <div class="col-xs-12 col-md-8">.col-xs-12 .col-md-8</div>
        <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
      </div>
      <div class="row show-grid">
        <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
        <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
        <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
      </div>
      <div class="row show-grid">
        <div class="col-xs-6">.col-xs-6</div>
        <div class="col-xs-6">.col-xs-6</div>
      </div>
    </div>
<div class="highlight"><pre><code class="html"><span class="c">&lt;!-- Stack the columns on mobile by making one full-width and the other half-width --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-12 col-md-8"</span><span class="nt">&gt;</span>.col-xs-12 .col-md-8<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-6 col-md-4"</span><span class="nt">&gt;</span>.col-xs-6 .col-md-4<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="c">&lt;!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-6 col-md-4"</span><span class="nt">&gt;</span>.col-xs-6 .col-md-4<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-6 col-md-4"</span><span class="nt">&gt;</span>.col-xs-6 .col-md-4<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-6 col-md-4"</span><span class="nt">&gt;</span>.col-xs-6 .col-md-4<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="c">&lt;!-- Columns are always 50% wide, on mobile and desktop --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-6"</span><span class="nt">&gt;</span>.col-xs-6<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-6"</span><span class="nt">&gt;</span>.col-xs-6<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre></div>

    <h3 id="grid-example-mixed-complete">Example: Mobile, tablet, desktops</h3>
    <p>Build on the previous example by creating even more dynamic and powerful layouts with tablet <code>.col-sm-*</code> classes.</p>
    <div class="bs-docs-grid">
      <div class="row show-grid">
        <div class="col-xs-12 col-sm-6 col-md-8">.col-xs-12 .col-sm-6 .col-md-8</div>
        <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
      </div>
      <div class="row show-grid">
        <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
        <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
        <!-- Optional: clear the XS cols if their content doesn't match in height -->
        <div class="clearfix visible-xs"></div>
        <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
      </div>
    </div>
<div class="highlight"><pre><code class="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-12 col-sm-6 col-md-8"</span><span class="nt">&gt;</span>.col-xs-12 .col-sm-6 .col-md-8<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-6 col-md-4"</span><span class="nt">&gt;</span>.col-xs-6 .col-md-4<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-6 col-sm-4"</span><span class="nt">&gt;</span>.col-xs-6 .col-sm-4<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-6 col-sm-4"</span><span class="nt">&gt;</span>.col-xs-6 .col-sm-4<span class="nt">&lt;/div&gt;</span>
  <span class="c">&lt;!-- Optional: clear the XS cols if their content doesn't match in height --&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"clearfix visible-xs"</span><span class="nt">&gt;&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-6 col-sm-4"</span><span class="nt">&gt;</span>.col-xs-6 .col-sm-4<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre></div>

    <h3 id="grid-responsive-resets">Responsive column resets</h3>
    <p>With the four tiers of grids available,I  you're bound to run into issues where, at certain breakpoints, your columns don't clear quite right as one is taller than the other. To fix that, use a combination of a <code>.clearfix</code> and our <a href="#responsive-utilities">responsive utility classes</a>.</p>
<div class="bs-docs-grid">
  <div class="row show-grid">
    <div class="col-xs-6 col-sm-3">
      .col-xs-6 .col-sm-3
      <br>
      Resize your viewport or check it out on your phone for an example.
    </div>
    <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>

    <!-- Add the extra clearfix for only the required viewport -->
    <div class="clearfix visible-xs"></div>

    <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
    <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
  </div>
</div>
<div class="highlight"><pre><code class="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-6 col-sm-3"</span><span class="nt">&gt;</span>.col-xs-6 .col-sm-3<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-6 col-sm-3"</span><span class="nt">&gt;</span>.col-xs-6 .col-sm-3<span class="nt">&lt;/div&gt;</span>

  <span class="c">&lt;!-- Add the extra clearfix for only the required viewport --&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"clearfix visible-xs"</span><span class="nt">&gt;&lt;/div&gt;</span>

  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-6 col-sm-3"</span><span class="nt">&gt;</span>.col-xs-6 .col-sm-3<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-6 col-sm-3"</span><span class="nt">&gt;</span>.col-xs-6 .col-sm-3<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre></div>
    <p>In addition to column clearing at responsive breakpoints, you may need to <strong>reset offsets, pushes or pulls</strong>. Those resets are available for medium and large grid tiers only, since they start only at the (second) small grid tier. See this in action in <a href="../examples/grid/">the grid example</a>.</p>
<div class="highlight"><pre><code class="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-sm-5 col-md-6"</span><span class="nt">&gt;</span>.col-sm-5 .col-md-6<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0"</span><span class="nt">&gt;</span>.col-sm-5 .col-sm-offset-2 .col-md-6 .col-md-offset-0<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-sm-6 col-md-5 col-lg-6"</span><span class="nt">&gt;</span>.col-sm-6 .col-md-5 .col-lg-6<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-sm-6 col-md-5 col-md-offset-2 col-lg-6 col-lg-offset-0"</span><span class="nt">&gt;</span>.col-sm-6 .col-md-5 .col-md-offset-2 .col-lg-6 .col-lg-offset-0<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre></div>


    <h3 id="grid-offsetting">Offsetting columns</h3>
    <p>Move columns to the right using <code>.col-md-offset-*</code> classes. These classes increase the left margin of a column by <code>*</code> columns. For example, <code>.col-md-offset-4</code> moves <code>.col-md-4</code> over four columns.</p>
    <div class="bs-docs-grid">
      <div class="row show-grid">
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4 col-md-offset-4">.col-md-4 .col-md-offset-4</div>
      </div>
      <div class="row show-grid">
        <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
        <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
      </div>
      <div class="row show-grid">
        <div class="col-md-6 col-md-offset-3">.col-md-6 .col-md-offset-3</div>
      </div>
    </div>
<div class="highlight"><pre><code class="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-4"</span><span class="nt">&gt;</span>.col-md-4<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-4 col-md-offset-4"</span><span class="nt">&gt;</span>.col-md-4 .col-md-offset-4<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-3 col-md-offset-3"</span><span class="nt">&gt;</span>.col-md-3 .col-md-offset-3<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-3 col-md-offset-3"</span><span class="nt">&gt;</span>.col-md-3 .col-md-offset-3<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-6 col-md-offset-3"</span><span class="nt">&gt;</span>.col-md-6 .col-md-offset-3<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre></div>


    <h3 id="grid-nesting">Nesting columns</h3>
    <p>To nest your content with the default grid, add a new <code>.row</code> and set of <code>.col-md-*</code> columns within an existing <code>.col-md-*</code> column. Nested rows should include a set of columns that add up to 12.</p>
    <div class="row show-grid">
      <div class="col-md-9">
        Level 1: .col-md-9
        <div class="row show-grid">
          <div class="col-md-6">
            Level 2: .col-md-6
          </div>
          <div class="col-md-6">
            Level 2: .col-md-6
          </div>
        </div>
      </div>
    </div>
<div class="highlight"><pre><code class="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-9"</span><span class="nt">&gt;</span>
    Level 1: .col-md-9
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-6"</span><span class="nt">&gt;</span>
        Level 2: .col-md-6
      <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-6"</span><span class="nt">&gt;</span>
        Level 2: .col-md-6
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre></div>

    <h3 id="grid-column-ordering">Column ordering</h3>
    <p>Easily change the order of our built-in grid columns with <code>.col-md-push-*</code> and <code>.col-md-pull-*</code> modifier classes.</p>
    <div class="row show-grid">
      <div class="col-md-9 col-md-push-3">.col-md-9 .col-md-push-3</div>
      <div class="col-md-3 col-md-pull-9">.col-md-3 .col-md-pull-9</div>
    </div>

<div class="highlight"><pre><code class="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-9 col-md-push-3"</span><span class="nt">&gt;</span>.col-md-9 .col-md-push-3<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-3 col-md-pull-9"</span><span class="nt">&gt;</span>.col-md-3 .col-md-pull-9<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre></div>

  </div>



	<div class="bs-docs-section">
    <div class="page-header">
      <h1 id="code-blocks">Code Blocks</h1>
    </div>
    <p>Code blocks that do things and stuff. (Need more details)</p>

    <ul>
			<li><a href="/interactives/template/starter-kit/code-blocks/NDN-video-block.html">NDN-video-block.html</a></li>
			<li><a href="/interactives/template/starter-kit/code-blocks/block-quote-inline.html">block-quote-inline.html</a></li>
			<li><a href="/interactives/template/starter-kit/code-blocks/blockquote-right.html">blockquote-right.html</a></li>
			<li><a href="/interactives/template/starter-kit/code-blocks/fact-box.html">fact-box.html</a></li>
			<li><a href="/interactives/template/starter-kit/code-blocks/full-image-block.html">full-image-block.html</a></li>
			<li><a href="/interactives/template/starter-kit/code-blocks/graphic-block.html">graphic-block.html</a></li>
			<li><a href="/interactives/template/starter-kit/code-blocks/hammer-block.html">hammer-block.html</a></li>
			<li><a href="/interactives/template/starter-kit/code-blocks/hammerBlock.html">hammerBlock.html</a></li>
			<li><a href="/interactives/template/starter-kit/code-blocks/headline-block.html">headline-block.html</a></li>
			<li><a href="/interactives/template/starter-kit/code-blocks/inline-image-block.html">inline-image-block.html</a></li>
			<li><a href="/interactives/template/starter-kit/code-blocks/inset-mug.html">inset-mug.html</a></li>
			<li><a href="/interactives/template/starter-kit/code-blocks/main-image.html">main-image.html</a></li>
			<li><a href="/interactives/template/starter-kit/code-blocks/map-block.html">map-block.html</a></li>
			<li><a href="/interactives/template/starter-kit/code-blocks/related-footer-2-block.html">related-footer-2-block.html</a></li>
			<li><a href="/interactives/template/starter-kit/code-blocks/related-footer-3-block.html">related-footer-3-block.html</a></li>
			<li><a href="/interactives/template/starter-kit/code-blocks/related-footer-4-block.html">related-footer-4-block.html</a></li>
			<li><a href="/interactives/template/starter-kit/code-blocks/related-links-right.html">related-links-right.html</a></li>
			<li><a href="/interactives/template/starter-kit/code-blocks/related-stories-left-block.html">related-stories-left-block.html</a></li>
			<li><a href="/interactives/template/starter-kit/code-blocks/right-image-block.html">right-image-block.html</a></li>
			<li><a href="/interactives/template/starter-kit/code-blocks/social-sharing.html">social-sharing.html</a></li>
			<li><a href="/interactives/template/starter-kit/code-blocks/sub-head.html">sub-head.html</a></li>
			<li><a href="/interactives/template/starter-kit/code-blocks/video-block.html">video-block.html</a></li>
			<li><a href="/interactives/template/starter-kit/code-blocks/videoBlock.html">videoBlock.html</a></li>

    </ul>
    
		
  
  </div>




</div>
<footer class="bg-dark-gray">
	<div class="container">
		<nav class="footer-list">
			<h2 class="sr-only">Footer Navigation</h2>
			<ul class="inline-list h6">
				<li><a id="loadFeedLot" href="http://www.dallasnews.com/site-map/">Site Map</a></li>
				<li><a href="http://www.dallasnews.com/about-us/">About Us</a></li>
				<li><a href="http://www.dmnmedia.com/">Advertise</a></li>
				<li><a href="http://www.dallasnews.com/contact-us/">Contact Us</a></li>
				<li><a href="http://www.dallasnews.com/privacy-policy/">Privacy Policy</a></li>
				<li><a href="http://www.dallasnews.com/terms/">Terms of Service</a></li>
				<li><a href="http://www.dallasnews.com/tutorial/">Site Tutorial</a></li>
			</ul>
		</nav>
		<p class="txt-light-gray h6 footer-copy">&copy;2013, The Dallas Morning News Inc. All Rights Reserved.</p>
	</div>
</footer>


<!-- Gigya -->
<!-- Can this be included when initialized? -->
<script type="text/javascript" src="http://cdn.gigya.com/js/socialize.js?apiKey=3_9lzrxJh-GQofXtoOq-ADFDpwOla0DXKJOvVl_KnlZPjeuRyBKYHjyaA2UYgGvXGv&amp;ver=3.0.4">
	{
		lang : 'en',
		enabledProviders: 'facebook,twitter,google,linkedin,yahoo,messenger',
		connectWithoutLoginBehavior: 'alwaysLogin'
	}			
</script>
<!-- Gigya Templates -->
<script id="gigya-new-user-tmpl" type="text/x-jquery-tmpl">
	<div id='gigya-new-user-wrap' class='float-left'>
		<h3 class='label'>Please provide your email address to join</h3>
		<p>
			<label>Email<br>
				<input type='text' name='email' size='20' value='' class='input'>
			</label>
		</p>
		<div class='button-wrap'>
			<input id='gigya-new-user-button' style='width:auto;' type='button' value='Register' class='button-primary'>
		</div>
	</div>
</script>	
<script id="gigya-account-linking-tmpl" type="text/x-jquery-tmpl">
	<div id='gigya-sep-wrap'>
		<div class="sep-line"></div>
		<h3>OR</h3>
		<div class="sep-line"></div>
	</div>
	<div id='gigya-account-linking-wrap'>
		<h3 class='label'>Yes, Please link my existing account with ${user.loginProvider} for quick and secure access</h3>
		<p>
			<label>Email<br>
				<input type='text' size='20' value='' class='input' name='email'>
			</label>
		</p>
		<p>
			<label>Password<br>
				<input type='password' size='20' value='' class='input' name='password'>
			</label>
		</p>
		<div class='button-wrap'>
			<input id='gigya-new-account-button' style='width:auto;' type='button' value='Link Accounts' class='button-primary'>
		</div>
	</div>
</script>	
<script id="gigya-header-tmpl" type="text/x-jquery-tmpl">
	<div id='dialog-header'>
		<div class="ui-helper-clearfix">
		<img class='thumbnail' src='${user.thumbnailURL}'/>
		<p class='text'>
			<b>Hi ${user.firstName}</b>
				{{if isEmailExist}}, The email is already used, please provide a new email or link to an existing account.{{/if}}
				{{if isNewUser}}{{/if}}
		</p>
		</div>	
	</div>
</script>
<!-- End Gigya Templates -->
<!-- End Gigya -->

<script type="text/javascript">
var storyTitle = "This is a sample title.",
	storyURL = "http://res.dallasnews.com/test/kason-test/interactive",
	leadText = "This text paragraph of the story.",
	storyIMG = "http://www.dallasnews.com/incoming/20131110-ns_01nathaniellittle01.jpg.ece/ALTERNATES/w80h80/NS_01NathanielLittle01.jpg",
	storyAuthor = "Author",
	comments = true,
	share = true;
</script>
<script type="text/javascript" src="/interactives/template/common/js/common-v0.1.js"></script>
<script type="text/javascript" src="/resrsc/js/biomniture-premium.js"></script>
<script type="text/javascript" src="/interactives/template/js/actions-v0.js"></script>



</body>
</html>
