<!DOCTYPE html>
<html lang="en" class="no-js">
<head prefix='og: http://ogp.me/ns#'>

	<!-- Add Custom Meta Data -->

	<meta content="dallas, dallas fort worth, dallas news, dallas fort worth news, dfw news, dallas local news, dallas fort worth local news, dallas breaking news, dallas fort worth breaking news, dallas weather, dallas fort worth weather, dallas traffic, dallas fort worth traffic, dallas sports, dallas fort worth sports, dallas entertainment, dallas fort worth entertainment, dallas newspaper, dallas morning news, dallas morning news newspaper" name="keywords" />

	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<meta content="Description goes here" name="description" />
	<title>Title goes here</title>
	<meta property="og:url" content="URL goes here" />
	<meta property="og:title" content="Title goes here"/>
	<meta property="og:description" content="Description goes here" name="description"/>
	<meta property="og:image" content="share image url goes here"/>
	<meta property="og:image:height" content="400"/>
	<meta property="og:image:width" content="600"/>	

	<meta name='parsely-page' content='{"title": "Title goes here", "link": "URL goes here", "image_url": "Share image url goes here", "type": "post", "post_id": "########### <- UNIQUE POST ID HERE", "pub_date": "YEAR-MM-DD", "section": "SECTION GOES HERE", "author": ["AUTHOR GOES HERE"], tags": ["dallas", "dallas fort worth", "dallas news", "dallas fort worth news", "dfw news", "dallas local news", "dallas fort worth local news", "dallas breaking news", "dallas fort worth breaking news", "dallas weather", "dallas fort worth weather", "dallas traffic", "dallas fort worth traffic", "dallas sports", "dallas fort worth sports", "dallas entertainment", "dallas fort worth entertainment", "dallas newspaper", "dallas morning news", "dallas morning news newspaper"]}'/>

	<meta property="og:keywords" content="dallas, dallas fort worth, dallas news, dallas fort worth news, dfw news, dallas local news, dallas fort worth local news, dallas breaking news, dallas fort worth breaking news, dallas weather, dallas fort worth weather, dallas traffic, dallas fort worth traffic, dallas sports, dallas fort worth sports, dallas entertainment, dallas fort worth entertainment, dallas newspaper, dallas morning news, dallas morning news newspaper"/>

	<meta name='news_keywords' content='dallas, dallas fort worth, dallas news, dallas fort worth news, dfw news, dallas local news, dallas fort worth local news, dallas breaking news, dallas fort worth breaking news, dallas weather, dallas fort worth weather, dallas traffic, dallas fort worth traffic, dallas sports, dallas fort worth sports, dallas entertainment, dallas fort worth entertainment, dallas newspaper, dallas morning news, dallas morning news newspaper'/>

	<!-- End Custom Meta Data -->
	
	<meta property="fb:app_id" content="258290334265148"/>
	<meta property="fb:page_id" content="20946638799"/>
	<meta property="fb:admins" content="1043783589"/>

	<link rel="shortcut icon" type="image/x-icon" href="http://www.dallasnews.com/favicon-premium.ico"/>
	<link rel="stylesheet" type="text/css" href="/interactives/template/common/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/theme.css" />
	<link rel="stylesheet" type="text/css" href="/interactives/template/css/code.css" />
	<link rel="stylesheet" type="text/css" href="/resrsc/premium/www/css/print.css" media="print"/>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700|Merriweather:400,400italic' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="http://res.dallasnews.com/interactives/template/common/js/responsive-styles.js"></script>

	<script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
	  <script type="text/javascript">
	    WebFont.load({
	      google: { //change custom to google: if using google cdn font
	        families: ['Open+Sans', 'Merriweather'],
	      }
	    });

	    document.createElement('picture');
	</script> 

	<script src="/interactives/template/common/js/jquery-1.10.2.min.js"></script>

	<script src="js/picturefill.js" async></script> 
 	<!-- Un-note the following line to use video -->
	<!--
	<script type="text/javascript" async src="http://launch.newsinc.com/js/embed.js" id="_nw2e-js"></script>
	-->
	<!--[if lt IE 9]><script type="text/javascript" src="/interactives/template/common/respond.min.js"></script><![endif]-->
	<script type="text/javascript" src="http://www.googletagservices.com/tag/js/gpt.js"></script>
	<script type="text/javascript">
	DFP_networkId = "11222444";
	var DFPSlotSizes = [];
	if (jQuery(window).width() < 768)
	{
	var DFP_sitepage = "m.DMN/interactives";
	DFPSlotSizes = [320,50]
	var adSlot0 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionTop");
	adSlot0.setTargeting("position", "x01");
	adSlot0.addService(googletag.pubads());
	}
	else
	{
	var DFP_sitepage = "DMN/interactives";
	DFPSlotSizes = [728,90]
	var adSlot0 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionTop");
	adSlot0.setTargeting("position", "Top");
	adSlot0.addService(googletag.pubads());
	}
	</script>
	<script type="text/javascript">
	googletag.pubads().enableSingleRequest();
	googletag.pubads().enableSyncRendering();
	googletag.enableServices();
	</script>


</head>
<body>
<script type="text/javascript" src="http://res.dallasnews.com/interactives/template/common/js/responsive-header.js"></script>

    

	<article>


		<section id="contentHeader">

			<picture>
				<!--[if IE 9]><video style="display: none;"><![endif]-->
				<source srcset="images/defaultImage.jpg, images/defaultImage.jpg 2x" media="(min-width: 1200px)">
				<source srcset="images/defaultImage.jpg, images/defaultImage.jpg 2x" media="(min-width: 601px)">
				<source srcset="images/defaultImage.jpg, images/defaultImage.jpg 2x" media="(min-width: 1px)">						
				<!--[if IE 9]></video><![endif]-->
				<img srcset="images/defaultImage.jpg, images/defaultImage.jpg 2x" alt="Alt Text here" >
			</picture>	

			<p class="cutline">Cutline goes here. You can remove this tag if you don't feel the lead image needs a cutline</p>

		</section>

		<div id="wrapper">


			<section class="bodyCopy">

				<hgroup>
					<h3>Label, if needed</h3>
					<h1>Main Headline</h1>
					<h2>Deck head goes in this spot here</h2>
				</hgroup>

				<section class="bylineBlock">
    	    		<p>By <a target="blank" href="mailto:emailaddresshere">Writer Name</a> | Staff Writer</p>
       			</section>
        		<!-- end bylineBlock -->

	      		<div class="shareComments">
	      		
					<ul id="share-bar1" class="width-auto-hack"></ul>

				</div>        		

				<p class="intro"><span class="dropcap">A</span>n opening paragraph goes here. orem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fermentum tortor a eleifend sagittis. Quisque laoreet elit vitae turpis aliquet tincidunt. Nulla molestie vitae purus eget dignissim. Quisque blandit nibh lorem, non mollis velit rutrum ac. Pellentesque pharetra mattis luctus.</p>

				<!-- story goes here -->

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fermentum tortor a eleifend sagittis. Quisque laoreet elit vitae turpis aliquet tincidunt. Nulla molestie vitae purus eget dignissim. Quisque blandit nibh lorem, non mollis velit rutrum ac. Pellentesque pharetra mattis luctus. Sed congue iaculis leo vel convallis. Aenean velit sapien, ultricies sit amet ligula sit amet, dapibus egestas metus. Quisque vitae cursus mauris, quis sagittis felis. Pellentesque in enim ut leo suscipit bibendum.</p>

				<p>Fusce sed arcu magna. Quisque sit amet porttitor massa, eu suscipit sem. Quisque facilisis quis urna non elementum. Suspendisse quis nisl ut elit sagittis eleifend. Nullam sed tortor est. Nulla vitae volutpat risus, vel pretium nibh. Aenean lacinia tempor nisi, vitae laoreet turpis molestie ut. Vivamus ut nisl interdum, dictum sapien sed, condimentum neque. Curabitur eu eros urna. Curabitur et risus vestibulum, vulputate dui sed, pulvinar augue.</p>

				<p>Nullam massa magna, ullamcorper eget posuere eu, adipiscing vitae purus. Morbi ut magna pharetra, rhoncus elit id, mollis magna. Nulla quis mi arcu. Vivamus tincidunt ultricies tellus, a malesuada elit pretium ac. Praesent elementum cursus nibh quis porta. Suspendisse ante libero, rhoncus sed purus sed, tempus faucibus purus. Suspendisse aliquam massa id massa pulvinar fermentum. Phasellus facilisis et nulla a molestie. In enim mauris, gravida eu malesuada at, consequat in tellus. Aliquam erat volutpat. Etiam ac viverra magna, non facilisis lectus. Morbi purus ligula, sodales feugiat ipsum ut, viverra rutrum ipsum.</p>


				<div class="pullquote rightQuote rightBlock">
					<blockquote>A strategy to attract the middle class back to Dallas will be complex, but it is not impossible. After all, many believed that downtown couldn&rsquo;t be restored.</blockquote>
					<p class="attribution">Quote Attribution</p>
				</div>

				<p>Sed tempus ac est nec porttitor. Sed pharetra, ipsum vulputate placerat mollis, orci massa aliquet arcu, ut varius nisl dolor eget dui. Praesent iaculis urna vitae eros consequat, sed aliquam lectus placerat. Duis in leo non leo congue vehicula eu tempus erat. Mauris commodo, nibh non dignissim pulvinar, magna turpis sagittis purus, sed congue dolor elit sit amet augue. Pellentesque eget massa adipiscing, tempus nisl sit amet, accumsan nunc. In porta tellus vel dui eleifend auctor. Morbi non lorem dolor. Duis in enim placerat, semper risus sit amet, egestas risus. Nam bibendum posuere euismod. Quisque a semper mauris, sed tincidunt leo. Vivamus ut convallis lacus, vel consequat neque. Vestibulum malesuada, nibh et egestas interdum, dolor orci egestas justo, at lobortis diam diam ut lectus. Etiam facilisis, felis vel mollis malesuada, enim purus fringilla purus, a hendrerit nibh lorem ut urna.</p>

				<p>Cras magna enim, consectetur vel gravida sed, euismod vitae nunc. Aliquam sed varius nunc. Phasellus eleifend, tortor commodo ullamcorper viverra, justo risus eleifend diam, quis bibendum dolor dolor ac sapien. Quisque consequat, nunc in lacinia viverra, lectus lacus iaculis sem, non dapibus arcu odio et lorem. Sed odio orci, pellentesque ac luctus at, suscipit eget turpis. Pellentesque velit dolor, imperdiet non pretium eget, feugiat id risus. Phasellus at lacus interdum, blandit sapien vel, consequat orci. Fusce in tempus velit. Sed ac blandit dui, at congue dolor. Donec turpis urna, dignissim non sapien non, interdum consequat tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus nec arcu eu massa laoreet iaculis. Mauris sed justo turpis.</p>

				<p>Praesent adipiscing nibh vel tortor egestas, sit amet ultricies ligula venenatis. Aliquam eget hendrerit sapien, vitae iaculis dui. Sed eget nisl a enim elementum mollis. Fusce aliquam purus sed purus lobortis rhoncus. Vivamus adipiscing lacinia urna nec mollis. Donec eget enim neque. Suspendisse tristique nibh urna, at egestas nisi vulputate eget. Aenean vitae dolor pulvinar, dignissim lorem nec, auctor dui. Ut aliquet sit amet libero vehicula semper. Mauris vestibulum diam eu enim lacinia volutpat. Cras fermentum dolor sapien, ut sagittis mi dignissim eget. Nam lectus neque, consectetur et convallis eget, lobortis ac quam. Sed quis rutrum massa.</p>



				<div class="pullquote leftQuote leftBlock">
					<blockquote>A strategy to attract the middle class back to Dallas will be complex, but it is not impossible. After all, many believed that downtown couldn&rsquo;t be restored.</blockquote>
					<p class="attribution">Quote Attribution</p>
				</div>


				<p>Proin interdum molestie justo, a rhoncus velit laoreet eu. Donec non iaculis mi. Nam tincidunt metus erat, bibendum consequat dolor commodo pretium. Maecenas auctor turpis justo, non rutrum libero tempor sollicitudin. Etiam faucibus, ante a auctor condimentum, metus libero vulputate eros, et varius dolor enim pellentesque tortor. Cras iaculis iaculis cursus. Mauris egestas, tellus et egestas ultricies, tellus augue semper nisi, vel iaculis magna lacus vel diam. Vivamus at eros et risus hendrerit bibendum. Vestibulum quis laoreet metus. Cras rutrum dictum enim blandit placerat. Cras quis ultrices sapien. Sed ut arcu vel nisl posuere feugiat. Quisque congue blandit tempor. Nunc mollis quam at nulla lacinia, a accumsan lectus congue. Maecenas pretium purus in pharetra dignissim.</p>

				<p>Quisque faucibus est vel metus condimentum facilisis. Maecenas et hendrerit est. Nulla nec diam eleifend nisl mattis pulvinar quis eget nibh. Nulla accumsan diam metus, at sodales odio rutrum non. Fusce aliquam convallis augue, vitae sodales lectus. Donec sagittis purus nulla, ac hendrerit enim pellentesque et. Morbi sem leo, iaculis sed varius sit amet, tristique et odio. Vivamus a mauris elit. Etiam sapien justo, ultrices in nisl in, dignissim tempus purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam mollis cursus feugiat. Phasellus at vulputate neque. Praesent augue ligula, blandit ut lectus eget, faucibus consectetur elit.</p>

				<p>Fusce blandit justo id lectus tincidunt, vitae lacinia enim pellentesque. Morbi volutpat purus non erat ornare adipiscing. Nunc ut tortor non enim congue mattis in nec justo. Nam eu velit non odio rutrum tincidunt ut a nulla. Vivamus accumsan, ante eget luctus mattis, risus lorem bibendum lectus, quis mollis mauris felis a arcu. Etiam euismod, nibh a posuere iaculis, dolor felis euismod nibh, at commodo urna ipsum ac neque. Morbi ut ipsum ut quam mattis sollicitudin bibendum in mauris. Phasellus pellentesque libero tellus, nec consectetur justo euismod at. Donec placerat ultrices felis consequat auctor. Praesent imperdiet scelerisque arcu in mollis. Pellentesque tempus nibh non lacinia sagittis.</p>

				<p>Proin pharetra massa quis turpis scelerisque, ut pharetra enim semper. Integer congue lacus felis, sit amet accumsan neque suscipit feugiat. Aenean pretium mattis felis, a suscipit neque posuere ac. In nunc ipsum, porta in sapien sit amet, egestas tincidunt diam. Curabitur adipiscing lacus vitae elit luctus sodales. Nunc aliquet nulla vitae nibh rhoncus sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam viverra massa ut nulla blandit ullamcorper. Proin sollicitudin ut lacus sit amet interdum. Phasellus egestas porta luctus. Proin consequat sem id posuere suscipit. Nulla porta sem ac purus dictum, rutrum lobortis dui gravida.</p>


				


				<section class="credits clearFix">

					<p>Author: <a href="mailto:emailaddress">Name</a></p>
					<p>Editor: <a href="mailto:emailaddress">Name</a></p>
					<p>Copy Editor: <a href="mailto:emailaddress">Name</a></p>
					<p>Photos: <a href="mailto:emailaddress">Name</a></p>
					<p>Graphics: <a href="mailto:emailaddress">Name</a></p>
					<p>Designer: <a href="mailto:emailaddress">Name</a></p>

				</section>
				<!-- end credits -->

				<section class="more clearFix">
					<h1>More from The Dallas Morning News</h1>

					<a href="#">
						<img src="images/defaultImage.jpg" alt="Fill this in">
						<h5>Story title goes here</h5>
						<p>Description of the story goes in this spot here</p>
					</a>

					<a href="#">
						<img src="images/defaultImage.jpg" alt="Fill this in">
						<h5>Story title goes here</h5>
						<p>Description of the story goes in this spot here</p>
					</a>

					<a href="#" class="last">
						<img src="images/defaultImage.jpg" alt="Fill this in">
						<h5>Story title goes here</h5>
						<p>Description of the story goes in this spot here</p>
					</a>

				</section>
				<!-- end more -->

	      		<div class="shareComments">
	      		
					<ul id="share-bar2" class="width-auto-hack"></ul>


					<div id="comments">

				</div>


			</section>
			<!-- end bodyCopy -->

		</div>
		<!-- end wrapper -->

	</article>

    <!-- end relatedFooter -->

<script type="text/javascript" src="http://res.dallasnews.com/interactives/template/common/js/responsive-footer.js"></script>

<!-- Gigya -->
<!-- Can this be included when initialized? -->
<script type="text/javascript" src="http://cdn.gigya.com/js/socialize.js?apiKey=3_9lzrxJh-GQofXtoOq-ADFDpwOla0DXKJOvVl_KnlZPjeuRyBKYHjyaA2UYgGvXGv&amp;ver=3.0.4">
	{
		lang : 'en',
		enabledProviders: 'facebook,twitter,google,linkedin,yahoo,messenger',
		connectWithoutLoginBehavior: 'alwaysLogin'
	}			
</script>
<!-- Gigya Templates -->
<script id="gigya-new-user-tmpl" type="text/x-jquery-tmpl">
	<div id='gigya-new-user-wrap' class='float-left'>
		<h3 class='label'>Please provide your email address to join</h3>
		<p>
			<label>Email<br>
				<input type='text' name='email' size='20' value='' class='input'>
			</label>
		</p>
		<div class='button-wrap'>
			<input id='gigya-new-user-button' style='width:auto;' type='button' value='Register' class='button-primary'>
		</div>
	</div>
</script>	
<script id="gigya-account-linking-tmpl" type="text/x-jquery-tmpl">
	<div id='gigya-sep-wrap'>
		<div class="sep-line"></div>
		<h3>OR</h3>
		<div class="sep-line"></div>
	</div>
	<div id='gigya-account-linking-wrap'>
		<h3 class='label'>Yes, Please link my existing account with ${user.loginProvider} for quick and secure access</h3>
		<p>
			<label>Email<br>
				<input type='text' size='20' value='' class='input' name='email'>
			</label>
		</p>
		<p>
			<label>Password<br>
				<input type='password' size='20' value='' class='input' name='password'>
			</label>
		</p>
		<div class='button-wrap'>
			<input id='gigya-new-account-button' style='width:auto;' type='button' value='Link Accounts' class='button-primary'>
		</div>
	</div>
</script>	
<script id="gigya-header-tmpl" type="text/x-jquery-tmpl">
	<div id='dialog-header'>
		<div class="ui-helper-clearfix">
		<img class='thumbnail' src='${user.thumbnailURL}'/>
		<p class='text'>
			<b>Hi ${user.firstName}</b>
				{{if isEmailExist}}, The email is already used, please provide a new email or link to an existing account.{{/if}}
				{{if isNewUser}}{{/if}}
		</p>
		</div>	
	</div>
</script>
<!-- End Gigya Templates -->
<!-- End Gigya -->

<script type="text/javascript">
var storyTitle = "TITLE HERE",
	storyURL = "URL Here",
	leadText = "DESCRIPTION HERE",
	storyIMG = "SHARE IMAGE URL HERE",
	storyAuthor = "AUTHOR NAME HERE",
	comments = true,
	share = true;
</script>
<script type="text/javascript">OAS_sitepage = 'SECTION URL HERE';</script>
<script type="text/javascript" src="/interactives/template/common/js/common-v1.js"></script>
<script type="text/javascript" src="/resrsc/js/biomniture.js"></script>
<script type="text/javascript" src="js/actions-v0.js"></script>
<script type="text/javascript" src="http://res.dallasnews.com/resources/cobrand/js/blogs/parselyDynamicTracking.js"></script>
<script type="text/javascript" src="http://res.dallasnews.com/resources/cobrand/js/blogs/parsely.js"></script>
</body>
</html>
